#
# pip
#   sudo apt-get install python-pip python3-pip
#   pip install pip -U
#   pip config set global.index-url 'https://mirrors.ustc.edu.cn/pypi/web/simple'
#
#
# Install this list packages:
#   pip install -r requirements.txt
#
# detailed install note: references_tips/InstallPython.md

numpy
pandas
scipy
scikit-learn
matplotlib
jupyter
